body{
    margin: 0px;
}

/* Header*/
.yatra{
    height: 59px;
    width: 114px;
}
header
{
    height: 60px;
    border: 5px solid red;
    
    
}
/*Left Search bar*/

#leftsearch
{
    height: 500px;
    width: 35%;
    border:5px solid blue ;
    margin-left: 2%;
    
}

